# Ігноруємо віртуальне середовище
venv/
.env

# Ігноруємо системні файли macOS
.DS_Store

# Ігноруємо кеш Python
__pycache__/
*.py[cod]

# Ігноруємо великі дані (Датасети)
data/
# Якщо хочеш зберегти структуру папок, але не файли, можна додати .gitkeep пізніше,
# але поки просто ігноруємо всю папку data, щоб не залити 1 ГБ картинок.

# Ігноруємо важкі чекпоінти моделей (щоб не забивати ліміт GitHub)
checkpoints/
*.pth

# Ігноруємо логи та тимчасові файли ідей
.ipynb_checkpoints
*.ipynb